<h1><a href ="/animals">Four Paws</a></h1>

<h2>Edit Animal Information</h2>

<%= render('layouts/errors', :object => @animal) %>
<p>Current Traits</p>
	 <ul>
	 	<% @animal.traits.each do |trait|%>
	 		<li><%= trait.name %></li>
	 	<% end %>
	 </ul>
<form action="/animals/<%= @animal.id %>" method="post">
	<input name="_method" type="hidden" value="patch">
	 <%= render('form') %>
   <button>Update Animal</button>
</form>

<a href="/animals/<%= @animal.id %>" data-confirm="You sure?" data-method="delete" rel="nofollow">Delete</a>

