<h2>Edit Animal Information</h2>

<%= render('layouts/errors', :object => @animal) %>
<p><strong>Current Traits</strong></p>
	 <ul>
	 	<% @animal.traits.each do |trait|%>
	 		<li><%= trait.name.capitalize %></li>
	 	<% end %>
	 </ul>
<form action="/animals/<%= @animal.id %>" method="post">
	<input name="_method" type="hidden" value="patch">
	<%= render('form') %>
  <button class="btn btn-default">Update Animal</button>
	<a href="/animals/<%= @animal.id %>" data-confirm="You sure?" data-method="delete" rel="nofollow" class="btn btn-danger">Delete</a>
</form>
</br>
</br>



