 <body id="show">
	<h2><%= @animal.name %></h2>
	<h4><%= @animal.species.capitalize %></h4>
	<h4>Age: <%= @animal.age %></h4>
	<h4>Traits:</h4>
		 <ul>
		 	<% @animal.traits.each do |trait|%>
		 		<li><a href ="/traits/<%= trait.id %>"><%=trait.name.capitalize%></a></li>
		 	<% end %>
		 </ul>

<footer>
	<a href="/animals/<%= @animal.id %>/edit" class="btn btn-default">Edit Info</a>
</footer>
</body>